.bp
  padding-top 5px
  .container
    display flex
    padding-left 3%
  ul
    reset-list()

    display flex
    padding 4px 6px
    
    background-color #fdf5e7
    li
      margin-right 5px
      &:last-child
        margin-right 0
      a
        font('SFUIDisplay', 16px, 19px, 400, #808080)
        
        text-decoration none
        
        transition 0.2s ease
        &:hover
          color #d53c36
      span
        margin-right 5px
        
        color #808080