@import 'blocks/slider/owl.carousel.css';
@import 'blocks/slider/owl.theme.default.css';
@import 'blocks/main/reset-owl.styl';
// components
@import 'blocks/page-header.styl';
@import 'blocks/tel.styl';
@import 'blocks/bas.styl';
@import 'blocks/log.styl';
@import 'blocks/page-content.styl';
@import 'blocks/bp.styl';
@import 'blocks/t-basket.styl';
@import 'blocks/fom.styl';
@import 'blocks/re.styl';
@import 'blocks/tit.styl';
@import 'blocks/goods.styl';
@import 'blocks/good.styl';
@import 'blocks/feat.styl';
@import 'blocks/ev.styl';
@import 'blocks/r.styl';
@import 'blocks/hit.styl';
@import 'blocks/footer-content.styl';
